body{
    text-align: center;

}
.btn{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    border-radius: 15px;
    margin: 2rem;
}
.pink{
    background-color: pink;
}
.blue{
    background-color: rgb(202, 202, 238);
}
.purple{
    background-color: rgb(170, 132, 205);
}
.green{
    background-color: rgb(130, 199, 130);
}

.btn-container{
    display: flex;
    justify-content: center;
}
.userflash{
    background-color: green;
}
.flash{
    background-color: aliceblue;
}
.highest-score {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    font-size: 16px;
    font-weight: bold;
  }